django==2.2.21
mysqlclient==1.4.6
djangorestframework==3.11.0
django-filter==2.2.0
django-cors-headers==2.5.3
djangorestframework-jwt==1.11.0
celery==4.4.0
redis==3.4.1
django-celery-beat==1.4.0
django-celery-results==1.2.0
requests
